@import 'helpers/mixins.less';

.ei-modal {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;

    .ei-close {
        .radius(50%);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 3px;
        right: 3px;
        line-height: 30px;
        font-size: 22px;
        text-align: center;
        cursor: pointer;
    }

    .ei-content {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
    }
}